<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clubd_haeundae.repository.ContactMapper">
   	<select id="getContact" resultType="Contact">
		SELECT TEL
			 , EMAIL
			 , ADDR		 
		 FROM CONTACT  
         WHERE USE_YN = 'Y'    
         ORDER BY REG_DT DESC 
		 LIMIT 1
    </select>  
</mapper>